

/* Styles for left and right view */
.left-view {
    width: 55%;
    float: left;
    /* color: aqua; */
    /* background-color: beige; */
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 1%
}

/* .right-view {
    width: 30%;
    float: right;
    color: blueviolet;
} */

/* Styles for navigation bar */
.navbar {
    background-color: #f2f2f2;
    padding: 10px;
    height: 40px;
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
}

.break {
    flex-basis: 100%;
    height: 0;
}

/* Styles for form elements in navbar */
.navbar form {
    display: flex;
    flex: auto;
    /*margin: 1em;*/
    margin-right: 1em;
}

/* Styles for search input in navbar */
.navbar .search-input {
    max-width: 300px;
    /*padding: 4px;*/
    border-radius: 4px;
    border: none;
    flex: auto;
    /*margin-left: 1em;*/
    /*margin-top: 0.5em;*/
    /*margin-bottom: 1em;*/
}

.navbar .search-input-button {
    /* align-items: center; */
    bottom: 0;
    /*display: flex;*/
    justify-content: center;
    position: absolute;
    top: 0;
    flex: auto;
    /* width: 2.5rem; */
}

.navbar .search-input-text {
    background-color: #f0f5fb;
    border: .125rem solid transparent;
    border-radius: 4px;
    box-shadow: none;
    color: #00265d;
    display: block;
    font-family: inherit;
    font-size: 1.125rem;
    height: 3.125rem;
    /*margin: 0 0 .625rem;*/
    /*margin-top: 0px;*/
    /*margin-right: 0px;*/
    /*margin-left: 0px;*/
    outline-width: 0;
    transition-property: border-color;
    transition-duration: 0.15s, 0.15s;
    transition-timing-function: linear, linear;
    transition-delay: 0s, 0s;
    width: 100%;
    /*padding-left: 3rem;*/
    /*padding-right: 3rem;*/
    flex: auto;
}

/* Styles for select button in navbar */
.navbar select {
    padding: 4px;
    margin-right: 10px;
    border-radius: 4px;
    border: none;
    flex: auto;
}

/* Styles for add contact button in navbar */
.navbar .add-contact-btn {
    background-color: #008CBA;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    flex: auto;
}

.navbar .search-btn {
    background-color: #008CBA;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    flex: auto;
}

/* Clear floats after navbar */
.clear {
    clear: both;
}

.contact-wrapper {
    height: calc(98vh - 200px);
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.contact-list {
    display: flex;
    flex-direction: column;
}

.contact {
    height: 35px;
    width: 100%;
    background-color: #ffffff;
}

.contact-list li {
    color: #00265d;
    cursor: pointer;
    padding: .9375rem;
    position: relative;
    width: 100%;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.contact-list li:hover {
    background-color: rgba(255, 213, 121, .3);
}

.contact-list li::after {
    border-bottom: 1px solid #f0f5fb;
    bottom: 0;
    content: " ";
    left: .9375rem;
    position: absolute;
    right: .9375rem;
}

.contact-details {
    align-items: center;
    display: flex;
    /* flex-flow: column wrap; */
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    /* list-style: none; */
    list-style-position: outside;
    list-style-image: none;
    list-style-type: none;
    /* margin: 0 0 1.25rem; */
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 1.25rem;
    margin-left: 0px;
    /* padding: 0; */
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.contact-details__header {
    border-bottom-color: rgb(240, 245, 251);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-size: 1.125rem;
    line-height: 1.625rem;
    padding-bottom: 1.875rem;
    padding-top: .9375rem;
    text-align: center;
    width: 100%;
}

.contact-details__section {
    align-items: center;
    border-bottom-color: rgb(240, 245, 251);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 1.125rem;
    line-height: 1.625rem;
    padding-top: 1.25rem;
    padding-right: 0px;
    padding-bottom: 1.25rem;
    padding-left: 0px;
    width: 100%;
}

.delete-contact {
    color: #e6176d;
    display: block;
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
    text-align: center;
}

.panel-next {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.panel-next__inner {
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    min-height: 0;
    overflow-x: auto;
    overflow-y: auto;
    position: relative;
}

.panel-next__loader {
    align-items: center;
    background: #FFFFFF;
    border-radius: 4px;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

/* right view */
.right-view {
    width: 40%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 20px;
    float: right;
    color: #008CBA;
    border: #e6176d;
}

.contact-name {
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.edit-button,
.update-button,
.delete-button {
    margin-right: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.edit-button:hover,
.update-button:hover,
.delete-button:hover {
    background-color: #3e8e41;
}

.key-value-pairs {
    display: flex;
    flex-direction: column;
    scroll-behavior: auto;
    width: 100%;
    height: 80%;
}

.kv-pair {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.key {
    font-weight: bold;
    width: 40%;
    margin-right: 10px;
    margin-left: 5%;
}

.value {
    flex: 1;
    overflow-wrap: break-word;
}

.close-cta {
    align-items: center;
    background-color: #eff3fa;
    border-radius: 50%;
    display: flex;
    flex-shrink: 0;
    height: 1.875rem;
    justify-content: center;
    position: absolute;
    right: .625rem;
    top: .625rem;
    width: 1.875rem;
}

a:hover,
a:focus {
    color: #009d9c;
}

.close-cta:hover {
    background-color: #ccd4df;
}